name: Manual Workflow Test

on:
  workflow_dispatch

env:
  RAMA: DEFAULT

jobs:
  tests:
    runs-on: ubuntu-20.04
    outputs:
      response1: ${{ steps.set_outputs.output.response1 }} 
      response2: ${{ steps.set_outputs.output.response2 }} 
    steps:
      - id: get_branch_name
        name: get_branch_name
        shell: bash
        run: echo "##[set-output name=branch;]$(echo ${GITHUB_REF#refs/heads/})"
      
      - id: print_branch_name
        name: print_branch_name
        env:
          RAMA2: ${{ steps.get_branch_name.outputs.branch }}
        run: |
          echo "WORKFLOW ENV RAMA2: " $RAMA
          echo "STEP ENV RAMA2: " $RAMA2
          echo "Rama: " ${{ steps.get_branch_name.outputs.branch }} 
          echo "RAMA=${{ steps.get_branch_name.outputs.branch }}" >> $GITHUB_ENV 
      
      - id: check_valid_branch
        name: check_valid_branch
        if: ${{ !startsWith(env.RAMA, 'main') && !startsWith(env.RAMA, 'patata') }}
        run: |
          echo "RESPONSE_MESSAGE=âŒ Incorrect Branch" >> $GITHUB_ENV
          echo "PROCESS_STATUS=KO" >> $GITHUB_ENV
      - id: set_outputs
        name: set_outputs
        run: |
          echo "response1=RESPUESTA 1" >> $GITHUB_OUTPUT
          echo "response2=RESPUESTA 2" >> $GITHUB_OUTPUT
  test2:
    runs-on: ubuntu-20.04
    needs: tests
    steps:
      - id: step1
        run: |
          echo "RESPUESTA 1: " ${{ needs.tests.outputs.response1 }}
          echo "RESPUESTA 2: " ${{ needs.tests.outputs.response2 }}
         
