name: Manual Workflow Test

on:
  workflow_dispatch

env:
  RAMA: DEFAULT

jobs:
  tests:
    runs-on: ubuntu-20.04
    steps:
      - id: get_branch_name
        name: get_branch_name
        shell: bash
        run: echo "##[set-output name=branch;]$(echo ${GITHUB_REF#refs/heads/})"
      
      - id: print_branch_name
        name: print_branch_name
        env:
          RAMA2: ${{ steps.get_branch_name.outputs.branch }}
        run: |
          echo "WORKFLOW ENV RAMA2: " $RAMA
          echo "STEP ENV RAMA2: " $RAMA2
          echo "Rama: " ${{ steps.get_branch_name.outputs.branch }} 
          #echo "RAMA=${{ steps.get_branch_name.outputs.branch }}" >> $GITHUB_ENV 
      
      - id: check_valid_branch
        name: check_valid_branch
        if: ${{ !startsWith(env.RAMA, 'main') }} && ${{ !startsWith(env.RAMA, 'develop') }} && ${{ !startsWith(env.RAMA, 'patata') }}
        run: |
          echo "RESPONSE_MESSAGE=âŒ Incorrect Branch" >> $GITHUB_ENV
          echo "PROCESS_STATUS=KO" >> $GITHUB_ENV
